<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') %>
        <link rel="stylesheet" href="/css/userDetail.css" />
</head>

<body>
    <%- include('../partials/header.ejs') %>
    <main id="main-userDetail">

                <section class="section-userDetail">
                    <p id="id-user"> id: <%= user.id %> <p></p>
                    <div class="container-user">
                        <img src="../../images/avatars/<%= user.image %>" alt="<%= user.fullName %>" class="img-user"/>

                            <div class="userDetail-container">
                                <p class="description-user" id="user-name">Nombre completo: <%= user.fullName %> </p>
                                <p class="description-user" id="user-name">Nombre de usuario: <%= user.user %> </p>
                                <p class="description-user" id="range">Perfil: <%= user.perfil %> </p>
                                <p class="description-user">Email: <%= user.email %> </p>
                            </div>
                    </div>
                        <div id="birthDay-user">
                            <h2 id="birthDay-container">Año de nacimiento</h2>
                                <p id="birthDay"> <%=user.birthDay%> </p>
                        </div>
                </section>

                        <% if(userLogged && userLogged.perfil=='Admin' ) { %>
                            <ul class="botones">
                                <a href="/register" class="crear-editar">CREAR</a>
                                <a href="/users/edit/<%= user.id %>" class="crear-editar">EDITAR</a>
                                <a href="/" class="crear-editar">VOLVER</a>
                            </ul> <% } %>

    </main>
                    <%- include('../partials/footer.ejs') %>
</body>

</html>