<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body>
    <% if (product) { %>
        <article>
            <h2><%= product.name %> <span>$<%= product.price %></span></h2>
            <nav><!--
                <a href="/productos/<%= product.category %>">
                    <%= product.category %> 
                </a>
                <a href="/productos/editar/<%= product.sku %>">Editar</a>-->
            </nav>
        </article>
        <% } else { %>
         <h2>
            No se encontro un producto <a href="/productos">Volver</a>
         </h2>
     
    <% } %>
</body>
</html>