<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head.ejs') %>


</head>

<body>
  <%- include('./partials/header.ejs') %>

    <main class="main-content">
      <nav class="offers-container">
        <div class="h2-container">
          <h2 class="eslogan-oferta">Las mejores ofertas</h2>
        </div>
        <ul class="offers-list">
          <% products.forEach(element => {%>
            <li class="juegos">
            <article class="game-list">
              <h2><%= element.name %></h2>
              <a href="/products/detail/<%= element.sku %>">

                <img src="images/<%= element.image %>" alt="<%= element.description %>" />
                <div class="precios-container">
                  <p class="precio-ahora">$<%= (element.price - (element.price * 0.1)) %></p>
                  <p class="precio-anterior">$<%= element.price %></p>
                </div>
              </a>
            </article>
          </li>
          <% }); %>
        
        </ul>
      </nav>
              
    </main>
    <% if(user && user.perfil=='admin') { %>
      <ul class="botones">
          <a href="/users" class="crear-editar">USUARIOS</a>
          <a href="/users/create" class="crear-editar">CREAR USUARIO</a>
      </ul>
      <% } %>
    <footer class="main-footer">
      <%- include('./partials/footer.ejs') %>
    </footer>
</body>

</html>