<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head.ejs') %>


</head>

<body>
  <%- include('./partials/header.ejs') %>

    <main class="main-content">
      <div class="title-top">
      <h2>
        Tendencias
      </h2>
      <a href="#">
        <h3>Ver todo</h3>
      </a>
    </div>
<div class="container-allMain">
        <% products.forEach(element => {%>
          <a href="/products/detail/<%= element.id %>">
      <div class="productos">
        <picture>
            <img src="images/<%= element.image %>" alt="<%= element.description %>" />
        </picture>
            <div class="informacion">
            <span class="tipo-envio">En stock</span>
            <div class="container-prices">
            <span class="precio-ahora">$<%=(element.price - (element.price * 0.1)) %></span>
            <span class="precio-anterior">$<%= element.price %></span>
          </div>
          <span class="tipo-entrega">Entrega inmediata</span>
            <span class="name-product"><%= element.name %></span>
        </div>
      </div>
      </a>
        <% }); %>
      </div>           
    </main>
    <% if(userLogged && userLogged.perfil=='Admin') { %>
      <ul class="botones">
          <a href="/users" class="crear-editar">USUARIOS</a>
          <a href="/register" class="crear-editar">CREAR USUARIO</a>
      </ul>
      <% } %>
    <footer class="main-footer">
      <%- include('./partials/footer.ejs') %>
    </footer>
</body>

</html>