<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
        <link rel="stylesheet" href="/css/productDetail.css" />
</head>

<body>
    <%- include('./partials/header.ejs') %>
        <main class="main-content">
            <section class="contenedorImg">
                <h3>
                    <%= product.name %>
                </h3>
                <img src="../../images/<%= product.image %>" alt="juego fifa 22" />
                <article id="descripcionJuego">
                    <p class="texto">
                        <%= product.description %>
                    </p>
                </article>
                <nav class="buttonStyle">
                    <button  class="crear">
                        
                        <a class="crear"><h2>Comprar<i class="fa-solid fa-cart-shopping"></i></h2></a>
                    </button>
                    <a href="/products/create" class="crear"><h2>CREAR</h2></a>
                    <a href="/products/edit/<%= product.sku %>" class="crear"><h2>EDITAR</h2></a>
                    <form action="/products/delete/<%= product.sku %>?m=DELETE" method="POST">
                        <input type="hidden" name="sku" value="<%= product.sku %>">
    
                        <button type="submit" class="crear">
                            <a class="crear"><h2>ELMINAR<i class="fa-solid fa-cart-shopping"></i></h2></a>
                            
                        </button>
                    </form>
                </nav>
               
            </section>
        </main>
        <footer>
            <%- include('./partials/footer.ejs') %>
        </footer>
</body>

</html>