<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
        <link rel="stylesheet" href="/css/edit.css" />
</head>

<body>
    <%- include('./partials/header.ejs') %>

        <main>

            <div class="container-all">

                <form action="/products/actualizar/<%=product.id%>?m=PUT" method="POST" class="form-edit">

                    <input type="hidden" name="id" value="<%=product.id%>">

                    <fieldset id="fsName" class="text-area">
                        <legend class="title-area">Título</legend>
                        <input type="text" name="name" id="name" placeholder="Name" class="input-text"
                            value="<%=product.name%>" class="e-productname">
                    </fieldset>

                    <fieldset id="fsPrice" class="text-area">
                        <legend class="title-area">Precio</legend>
                        <input type="text" name="price" id="price" class="input-text" value="<%=product.price%>">
                    </fieldset>

                    <div id="container-image">
                        <img src="/images/<%= product.image %>" class="image-edit" alt=>
                        <fieldset id="fsImage" class="text-area">
                            <label for="image">Subir imagen</label>
                            <input type="file" name="image" id="image">
                        </fieldset>
                    </div>

                    <fieldset id="fsDescription" class="text-area">
                        <legend class="title-area">Descripción</legend>
                        <textarea name="description" id="description" cols="30" rows="3"
                         class="input-text"><%= product.description %> </textarea>
                    </fieldset>

                    <div class="form-group">
                        <fieldset id="fsCategory" class="text-area">
                            <legend id="legCategory" class="title-area">Categoría</legend>
                            <% categories.forEach(category=> {%>
                                <label for="category-<%= category.name %>" class="radio-options">
                                    <input type="radio" name="category" id="category-<%= category.name %>"
                                        value="<%= category.id %>" <%=product.categoryId==category.id ? 'checked' : null
                                        %>><%= category.name %>
                                </label>
                                <% }); %>
                        </fieldset>
                    </div>

                    <fieldset class="text-area">
                        <legend class="title-area">¿En oferta?</legend>
                        <label for="offer-si" class="radio-options">
                            <input type="radio" name="inOffer" id="offer-si" value="1" <% if(product.inOffer=="1" ) { %>
                            checked <% } %>>Si</label>
                        <label for="offer-no" class="radio-options">
                            <input type="radio" name="inOffer" id="offer-no" value="0" <% if(product.inOffer=="0" ) { %>
                            checked <% } %>>No</label>
                    </fieldset>
                    <section id="buttons">
                        <button type="submit" class="button-c">Guardar</button>
                        <a href="/" class="button-c">Volver</a>
                    </section>
                </form>
            </div>
        </main>
        <footer class="main-footer">
            <%- include('./partials/footer.ejs') %>
        </footer>
        <script src="https://unpkg.com/validator@latest/validator.min.js"></script>
        <script src="../js/dom.js"></script>
        <script src="../js/product.js"></script>
</body>

</html>