<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head.ejs') %>

    <link rel="stylesheet" href="/css/login.css" />
  </head>
  <body>
    <%- include('./partials/header.ejs') %>
    <main class="mainLogin">
    <div id="left-login">
      <h2>Inicia Sesión</h2>
      <form action="/login/access" method="POST">
        <label class="none" for="usuario"></label>
        <input class="inputs-login"
          type="text"
          name="email"
          placeholder="Correo Electrónico"
          id="usuario"
          required
          value="<%= oldDataLogin && oldDataLogin.email ? oldDataLogin.email : ''%>"/>

          <% if(locals && locals.errors && errors.email ) {%>

            <p class="feedback">
  
              <%= errors.email.msg %>
  
            </p>
            <% } %>

        <label class="none" for="password"></label>
        <input  class="inputs-login " 
          type="password"
          name="password"
          placeholder="Contraseña"
          id="password"
          value="<%= oldDataLogin && oldDataLogin.password ? oldDataLogin.password : ''%>"
        />

        <% if(locals && locals.errors && errors.password ) {%>

          <p class="feedback">

            <%= errors.password.msg %>

          </p>
          <% } %>
          <div id="remember-me">
            <input type="checkbox" name="recordame" id="recordame" class="radio-options" value="recordame"></label>
            <p>Recordame</p>
          </div>
          <ul class="mensajeError" id="erroresLogin"></ul> 
      <button id="iniciar-sesion" type="submit">Ingresar</button>
      </form>
      

      <div id="olvide-contraseña">
      <a href="#">¿Has olvidado la contraseña?</a>
    </div>

      <div id="registrate">
        <a href="/register">
          <i class="fa-regular fa-circle-user"></i>  
         Regístrate</a>
      </div>
    </div>
    <picture id="rigth-login">
      <img src="../images/callOfDutyLogin.jpg" alt="" id="image-login">
    </picture> 
    </main>
    <footer id="login-footer">
      <%- include('./partials/footer.ejs') %>
    </footer>
    <script src="https://unpkg.com/validator@latest/validator.min.js"></script>
    <script src="../js/login.js"></script>
</body>

</html>