<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head.ejs') %>
</head>

<body>
  <%- include('../partials/header.ejs') %>

    <main class="main-content">
      <nav class="offers-container">
        <div class="h2-container">
          <h2 class="eslogan-oferta">Administración de Usuarios</h2>
        </div>
        <ul class="offers-list">
          <% users.forEach(user => {%>
            <li class="juegos">
            <article class="game-list">
              <h2><%= user.id %></h2>
              <a href="/users/detail/<%= user.id %>">

                <img src="images/<%= user.image %>" alt="<%= user.fullName %>" />
                <div class="precios-container">
                  <p class="precio-ahora"><%= user.email %></p>
                </div>
              </a>
            </article>
          </li>
          <% }); %>
        
        </ul>
      </nav>
              
    </main>
    <footer class="main-footer">
      <%- include('../partials/footer.ejs') %>
    </footer>
</body>

</html>