<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') %> 
    <link rel="stylesheet" href="/css/edit.css" />
</head>

<body>
    <%- include('../partials/header.ejs') %>

        <main>
            <div class="container-all">
                
                <form action="/users/update/<%=user.id%>?m=PUT" method="POST" class="form-edit">
                   <input type="hidden" name="id" value="<%=user.id%>">
                   
                   <fieldset class="text-area">
                        <legend class="title-area">Nombre completo</legend>
                        <input type="text" name="fullName" id="fullName" placeholder="Nombre" class="input-text"  value="<%=user.fullName%>" class="e-productname">
                    </fieldset>

                    <fieldset class="text-area">
                        <legend class="title-area">Nombre de usuari@</legend>
            <input type="text" name="user" placeholder="Nombre de usuari@" id="nombreUsuari@"
              value="<%= user.user%>" required>
                    </fieldset>

                    
                <picture>
                    <img src="/images/avatars/<%= user.image %>" alt="<%=user.fullName%> ">
                </picture> 
                <fieldset class="text-area">
                    <label for="image">Subir imagen</label>
                    <input type="file" name="image" id="image">
                </fieldset>

                    

                    <fieldset class="text-area">
                        <legend class="title-area">Correo</legend>
                        <input type="text" name="email" id="email" class="input-text" value="<%=user.email%>">
                    </fieldset>

                    <div class="form-group">
                        <fieldset class="text-area">
                            <legend class="title-area">Perfil</legend>
                            <label for="admin" class="radio-options">
                                <input type="radio" name="perfil" id="admin"
                                    value="admin" <% if(userL.perfil == "admin") { %> checked <% } %>>Admin</label>
                            <label for="user" class="radio-options">
                                <input type="radio" name="perfil" id="user" value="user"
                                <% if(user.perfil == "user") { %> checked <% } %>>Usuario</label>
                            
                        </fieldset>
                    </div>
                    <fieldset class="text-area">
                        <label for="nacio">Fecha de nacimiento</label>
                        <input type="date" name="birthDay" id="nacio"
                      value="<%= user.birthDay%>" required />
                    </fieldset>
                    
                    <button type="submit">Guardar</button>
                </form>
            </div>
        </main>
        <footer class="main-footer">
            <%- include('../partials/footer.ejs') %>
        </footer>
</body>

</html>